:root {
   --dark: #13293d;
   --light: white;
   --navlink-color: blue; 
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 40px;
    text-align:left;
    background: var(--dark);
    color: var(--light);
}

nav {
    display: flex;
    background-color: var(--dark);
}

nav a {
    color: var(--navlink-color);
    padding: 15px 20px;
    text-decoration: line;
    text-align:right;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    background-color: none;
    padding: 80px;
    text-align: center;
}

footer {
    padding: 20px;
    text-align: right;
    background-color: var(--light);
    color: var(--navlink-color);
}

.cards {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-long {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
}

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
}

.card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }

  .card img {

  }

  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }